<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <script src="https://kit.fontawesome.com/91cb9672f3.js" crossorigin="anonymous"></script>
  
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
          <a href="../index.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
          <a href="../templates/contact.html" class="nav-link">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
          <a href="../templates/projects.html" class="nav-link">Projects</a>
      </li>
    </ul>
  </nav>

<!-- /.navbar -->

  <div class="container">
    <h2 class= "display-4 m-4 subheader text-center">My Projects</h2>
    <div class="row">

      <!-- Weight lift card -->
      <div class = "col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card fade-in one">
          <img class="card-img" src="../images/weightlift.png" alt="Weightlift buddy icon">
          <div class="card-body">
            <h4 class="card-title"><em>Weight Lifting Buddy</em></h4>
            <p class="card-text">A mobile web application that aims to uses object detection to check for improper deadlift form.</p>
            <a href="https://weightliftbuddy.netlify.app/home" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="" class="btn "><i class="fab fa-github"></i> Github</a>
            <a href="https://www.youtube.com/watch?v=CtGs5C-of20" class="btn mr-2"><i class="fa-brands fa-youtube"></i> Video Pitch</a>
          </div>
        </div>
      </div>

        <!-- Autocrop card -->
      <div class = "col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card fade-in two">
          <img class="card-img" src="../images/autocrop.jpg" alt="Autocrop image">
          <div class="card-body">
            <h5 class="card-title"><em>Autocropper</em></h5>
            <p class="card-text">
              A web application that aims to uses Google Cloud AutoML to detect products within an advertisement and produces a crop for each image. Users can edit each image and export all images in a zip file.
            </p>
            <a href="https://sites.google.com/view/team-1-to-1/home" class="btn mr-2"><i class="fas fa-link"></i> Overview</a>
            <a href="https://github.com/Service-Design-Studio/final-project-1to1-team-11" class="btn "><i class="fab fa-github"></i> Github</a>
            <a href="https://youtu.be/qMIyFJG7tzY" class="btn mr-2"><i class="fa-brands fa-youtube"></i> Video Pitch</a>
          </div>
        </div>
      </div>

      <!-- Walking stick card -->
      <div class = "col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card fade-in three">
       
          <img class="card-img" src="../images/walking_stick.jpg" alt="Walking stick image">
          <div class="card-body">
            <h5 class="card-title"><em>Walking stick for the blind</em></h5>
            <p class="card-text">
              A device that helps the blind sense the 1m markings on the ground to maintain safe distancing during the pandemic. 
            </p>
            
            <a href="http://asd.courses.sutd.edu.sg/dti-teams/3-007-design-projects/cohort-7-design-projects/cohort-7-team-3/" class="btn mr-2"><i class="fas fa-link"></i> Overview</a>
            <a href="https://www.canva.com/design/DAEcZIeava8/fOFQkYdslOfkiBtgNC0rEA/view?utm_content=DAEcZIeava8&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton#1" class="btn "><i class="fab fa-github"></i> Brief Overview</a>
            <a href="https://youtu.be/kvWxgP71j_Y" class="btn mr-2"><i class="fa-brands fa-youtube"></i> Video Pitch</a>
            <a href="https://youtu.be/qMIyFJG7tzY" class="btn mr-2"><i class="fa-brands fa-youtube"></i> Functionality</a>

          </div>
        </a></div>
      </div>

      <div class = "col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card fade-in three">
       
          <img class="card-img" src="../images/arduino.jpg" alt="Walking stick image">
          <div class="card-body">
            <h5 class="card-title"><em>Arduino MKR</em></h5>
            <p class="card-text">
              A friendship lamp that allows you to brighten up your friend's life wirelessnessly. 
              Customize the color of the light based on your preference and mood to communicate your emotions to your friend via colors.
            </p>
        
            <a href="https://www.youtube.com/watch?v=eu3Pgojey1M" class="btn mr-2"><i class="fa-brands fa-youtube"></i> Video Demo</a>

          </div>
        </a></div>
      </div>

      <div class = "col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card fade-in three" data-bs-toggle="modal" data-bs-target="#watch">
       
          <img class="card-img" src="../images/watch.jpg" alt="Smart Watch">
          <div class="card-body">
            <h5 class="card-title"><em>Low cost apple watch</em></h5>
            <p class="card-text">
              Smart Watch that can detect one's heart rate and steps. Click on the card for more info.
            </p>
            <a href=" https://docs.google.com/document/d/1xGT-luhdR30qhonsjOOPb3I8uXweG7UkI2Krt5TWl60/edit?usp=sharing" class="btn mr-2"><i class="fas fa-link"></i> Overview</a>
            <a href="https://youtu.be/3w2HAH5DO8w" class="btn mr-2"><i class="fa-brands fa-youtube"></i> Video Demo</a>

          </div>
        </a></div>
      </div>
    </div>
  </div>

 


  <!-- Modal Watch -->
  <div class="modal fade" id="watch" tabindex="-1" aria-labelledby="watchLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="watchLabel">Smart Watch</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            
        <div class="modal-body">
          <div id="carouselwatch" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselwatch" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselwatch" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselwatch" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselwatch" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>

            <div class="carousel-inner">

              <div class="carousel-item active">
                <img src="../images/watch.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block text">   
                  <h5>The Process</h5>
                </div>
              </div>

              <div class="carousel-item">
               
                <img src = "../images/sensor.jpg" class="d-block w-100">

                <div class="carousel-caption d-none d-md-block text">
                  <h5>Prototype on breadboard</h5>
                  <p>Circuit with heart rate UI</p>
                </div>
                </a>
              </div>

              <div class="carousel-item">
                
                  <img src="../images/gyro_ui.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block text">
                      <h5>Prototype on breadboard</h5>
                      <p>Circuit with steps counter UI which used the gyroscrope and accelerometer</p>
                  </div>
                </a>
              </div>

              <div class="carousel-item">
               
                <img src = "../images/watch_circuit.jpg" class="d-block w-100">

                <div class="carousel-caption d-none d-md-block text">
                  <h5>Electronics</h5>
                  <p>Final circuitry</p>
                </div>
                </a>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselwatch" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselwatch" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>


          </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>


</body>

